

<div class="container mx-auto p-4">
    <!-- Logo & Title -->
    <nav>
        <div  class="w-full flex flex-wrap items-center justify-between mx-auto py-4">
            <div class="flex items-center space-x-8">
                <div class="flex items-center ">
                    <img
                        src="../../../assets/universidad-galileo.png"
                        class="h-10 mr-3"
                        alt="Universidad Galileo Logo"
                    />
                    <span 
                        class="self-center text-xl font-semibold whitespace-nowrap">
                        TAREA #7
                    </span>
                </div>
            </div>
        </div>
    </nav>
    
    <!-- Content -->
    <div class="flex justify-center items-center mt-6">
        <div class="w-full max-w-lg p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
            <div class="space-y-6">
                <h5 class="text-xl font-medium text-gray-900 dark:text-white w-full text-center">Grados</h5>
                
                <div class="w-full flex flex-col justify-center">
                    <!-- Form Component -->
                    <app-form />
                    <span class="my-3"></span>
                    <!-- List Component -->
                    <app-list />
                </div>
            </div>
        </div>        
    </div>
</div>


  
  
